*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}

body {
    font-family: arial;
    font-size: 1em;
    
    width: 1920px;
    height: 1080px;
    background-color: black;
    
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

/** Left side */
#left-side {
    float: left;
    width: 1560px;
}

#activity {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 1560px;
    height: auto;
    max-height: 1000px;
}

/** Right side */
#right-side {
    position: fixed;
    right: 0px;
    width: 380px;
    height: 1080px;
    background-image: url('sidebar.png');
}


#clock {
    padding-top: 100px;
    font-size: 75px;
    text-align: center;
}

#sponsors {
    padding-top: 310px;
    padding-left: 100px;
    text-align: center;
}


/** Footer */
#footer {
    position: fixed;
    top: 1000px;
    height: 80px;
    color: #fff;
}

.tweakers {
    color: #1aad00;
}
.sax {
    color: #93a6f5;
}



/** JCarousel */
.jcarousel-skin-tango img {
    width: 200px;
    height: 125px;
}
.jcarousel-skin-tango .jcarousel-direction-rtl {
    direction: rtl;
}
.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 200px;
    padding: 0px 0px;
}
.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  200px;
    height: 125px;
}
.jcarousel-skin-tango .jcarousel-item {
    width: 200px;
    height: 125px;
}
.jcarousel-skin-tango .jcarousel-item-horizontal {
    margin-left: 0;
    margin-right: 10px;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
    margin-left: 10px;
    margin-right: 0;
}
.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #000;
    color: #fff;
}


/* liScroll */
.tickercontainer { /* outer div */
    width: 1600px;
    height: 58px;
    padding: 0;
    overflow: hidden;
    font-size: 42px;
}

.tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
    position: relative;
    top: 10px;
    width: 1620px;
    overflow: hidden;
}

ul.newsticker { /* that's your list */
    position: relative;
    left: 1600px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.newsticker li {
    float: left;
    margin: 0;
    padding: 0;
}

ul.newsticker a {
    white-space: nowrap;
    padding: 0;
    margin: 0 80px 0 0;
}

ul.newsticker span {
    margin: 0 16px 0 0;
}